.header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: clamp(46px,100vw,72px);

    h1{
        animation: textSlideUp 1s ease-in-out forwards;
    }

}

.header-image-box{
    background-color: var(--color-green-2);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    position: relative;
    height: 362px;
    margin-top: clamp(120px,100vw,240px);
    z-index: 1;
    
    img:nth-of-type(2){
        width: min(100%, 907px);
        height: auto;
        position: absolute;
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    img:first-of-type{
        width: auto;
        height: auto;
        position: absolute;
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

}

.is-ready{
    img:nth-of-type(2),
    img:first-of-type{
        animation: imgSlideUp 1s ease-in-out forwards;
    }
}

@media (max-width: 800px) {
    
    .header-section{
        margin-left: 16px;
        margin-right: 16px;
    }

}



